<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ba_fz_freeze.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {568, 42}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {568, 42}}</string>
			<key>sourceSize</key>
			<string>{568, 43}</string>
		</dict>
		<key>img_soul_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1008, 189}, {12, 16}}</string>
			<key>offset</key>
			<string>{-1, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 5}, {12, 16}}</string>
			<key>sourceSize</key>
			<string>{20, 24}</string>
		</dict>
		<key>img_soul_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1008, 133}, {12, 17}}</string>
			<key>offset</key>
			<string>{-1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 4}, {12, 17}}</string>
			<key>sourceSize</key>
			<string>{20, 24}</string>
		</dict>
		<key>img_soul_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1009, 94}, {12, 18}}</string>
			<key>offset</key>
			<string>{-1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {12, 18}}</string>
			<key>sourceSize</key>
			<string>{20, 24}</string>
		</dict>
		<key>img_soul_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1008, 171}, {12, 16}}</string>
			<key>offset</key>
			<string>{-1, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 5}, {12, 16}}</string>
			<key>sourceSize</key>
			<string>{20, 24}</string>
		</dict>
		<key>img_soul_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{1008, 114}, {12, 17}}</string>
			<key>offset</key>
			<string>{-1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 4}, {12, 17}}</string>
			<key>sourceSize</key>
			<string>{20, 24}</string>
		</dict>
		<key>img_soul_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{1009, 74}, {12, 18}}</string>
			<key>offset</key>
			<string>{-1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {12, 18}}</string>
			<key>sourceSize</key>
			<string>{20, 24}</string>
		</dict>
		<key>img_soul_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{1008, 152}, {12, 17}}</string>
			<key>offset</key>
			<string>{-1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 4}, {12, 17}}</string>
			<key>sourceSize</key>
			<string>{20, 24}</string>
		</dict>
		<key>img_soul_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{1011, 33}, {12, 19}}</string>
			<key>offset</key>
			<string>{-1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 2}, {12, 19}}</string>
			<key>sourceSize</key>
			<string>{20, 24}</string>
		</dict>
		<key>img_soul_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{1011, 54}, {12, 18}}</string>
			<key>offset</key>
			<string>{-1, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {12, 18}}</string>
			<key>sourceSize</key>
			<string>{20, 24}</string>
		</dict>
		<key>item_bomb.png</key>
		<dict>
			<key>frame</key>
			<string>{{973, 71}, {34, 34}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4, 4}, {34, 34}}</string>
			<key>sourceSize</key>
			<string>{42, 42}</string>
		</dict>
		<key>item_bomb_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{311, 295}, {284, 246}}</string>
			<key>offset</key>
			<string>{8, 1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{36, 14}, {284, 246}}</string>
			<key>sourceSize</key>
			<string>{340, 276}</string>
		</dict>
		<key>item_bomb_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 351}, {302, 226}}</string>
			<key>offset</key>
			<string>{3, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22, 24}, {302, 226}}</string>
			<key>sourceSize</key>
			<string>{340, 276}</string>
		</dict>
		<key>item_bomb_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{311, 45}, {256, 248}}</string>
			<key>offset</key>
			<string>{-10, -2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32, 16}, {256, 248}}</string>
			<key>sourceSize</key>
			<string>{340, 276}</string>
		</dict>
		<key>item_bomb_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 579}, {290, 216}}</string>
			<key>offset</key>
			<string>{-17, 18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 12}, {290, 216}}</string>
			<key>sourceSize</key>
			<string>{340, 276}</string>
		</dict>
		<key>item_bomb_g.png</key>
		<dict>
			<key>frame</key>
			<string>{{293, 581}, {80, 80}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {80, 80}}</string>
			<key>sourceSize</key>
			<string>{80, 80}</string>
		</dict>
		<key>item_getsoul.png</key>
		<dict>
			<key>frame</key>
			<string>{{1013, 1}, {5, 12}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 1}, {5, 12}}</string>
			<key>sourceSize</key>
			<string>{9, 15}</string>
		</dict>
		<key>item_getsoul2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1020, 1}, {3, 5}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4, 2}, {3, 5}}</string>
			<key>sourceSize</key>
			<string>{11, 10}</string>
		</dict>
		<key>item_light_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{239, 879}, {80, 80}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {80, 80}}</string>
			<key>sourceSize</key>
			<string>{80, 80}</string>
		</dict>
		<key>item_power.png</key>
		<dict>
			<key>frame</key>
			<string>{{972, 177}, {30, 34}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6, 4}, {30, 34}}</string>
			<key>sourceSize</key>
			<string>{42, 42}</string>
		</dict>
		<key>item_power_f.png</key>
		<dict>
			<key>frame</key>
			<string>{{881, 93}, {89, 89}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {89, 89}}</string>
			<key>sourceSize</key>
			<string>{89, 89}</string>
		</dict>
		<key>item_power_g.png</key>
		<dict>
			<key>frame</key>
			<string>{{239, 797}, {80, 80}}</string>
			<key>offset</key>
			<string>{-1, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {80, 80}}</string>
			<key>sourceSize</key>
			<string>{84, 84}</string>
		</dict>
		<key>item_power_x.png</key>
		<dict>
			<key>frame</key>
			<string>{{1020, 8}, {1, 1}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1, 1}}</string>
			<key>sourceSize</key>
			<string>{1, 1}</string>
		</dict>
		<key>item_pull.png</key>
		<dict>
			<key>frame</key>
			<string>{{972, 107}, {34, 34}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4, 4}, {34, 34}}</string>
			<key>sourceSize</key>
			<string>{42, 42}</string>
		</dict>
		<key>item_pull_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{571, 1}, {308, 304}}</string>
			<key>offset</key>
			<string>{0, -8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14, 24}, {308, 304}}</string>
			<key>sourceSize</key>
			<string>{336, 336}</string>
		</dict>
		<key>item_pull_g.png</key>
		<dict>
			<key>frame</key>
			<string>{{881, 1}, {90, 90}}</string>
			<key>offset</key>
			<string>{-1, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 12}, {90, 90}}</string>
			<key>sourceSize</key>
			<string>{108, 116}</string>
		</dict>
		<key>item_ring_green.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 45}, {308, 304}}</string>
			<key>offset</key>
			<string>{0, -8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14, 24}, {308, 304}}</string>
			<key>sourceSize</key>
			<string>{336, 336}</string>
		</dict>
		<key>item_score.png</key>
		<dict>
			<key>frame</key>
			<string>{{973, 33}, {36, 36}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {36, 36}}</string>
			<key>sourceSize</key>
			<string>{42, 42}</string>
		</dict>
		<key>item_score_g.png</key>
		<dict>
			<key>frame</key>
			<string>{{881, 184}, {80, 80}}</string>
			<key>offset</key>
			<string>{1, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9, 9}, {80, 80}}</string>
			<key>sourceSize</key>
			<string>{96, 100}</string>
		</dict>
		<key>item_sheild.png</key>
		<dict>
			<key>frame</key>
			<string>{{963, 209}, {28, 30}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4, 5}, {28, 30}}</string>
			<key>sourceSize</key>
			<string>{36, 40}</string>
		</dict>
		<key>item_sheild_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 797}, {154, 184}}</string>
			<key>offset</key>
			<string>{-8, -7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17, 25}, {154, 184}}</string>
			<key>sourceSize</key>
			<string>{204, 220}</string>
		</dict>
		<key>item_sheild_g.png</key>
		<dict>
			<key>frame</key>
			<string>{{881, 266}, {80, 80}}</string>
			<key>offset</key>
			<string>{-3, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 9}, {80, 80}}</string>
			<key>sourceSize</key>
			<string>{96, 100}</string>
		</dict>
		<key>item_time.png</key>
		<dict>
			<key>frame</key>
			<string>{{973, 1}, {38, 30}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 6}, {38, 30}}</string>
			<key>sourceSize</key>
			<string>{42, 42}</string>
		</dict>
		<key>item_time_g.png</key>
		<dict>
			<key>frame</key>
			<string>{{157, 797}, {80, 80}}</string>
			<key>offset</key>
			<string>{1, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9, 9}, {80, 80}}</string>
			<key>sourceSize</key>
			<string>{96, 96}</string>
		</dict>
		<key>item_zombie.png</key>
		<dict>
			<key>frame</key>
			<string>{{972, 143}, {32, 34}}</string>
			<key>offset</key>
			<string>{0, 1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5, 3}, {32, 34}}</string>
			<key>sourceSize</key>
			<string>{42, 42}</string>
		</dict>
		<key>item_zombie_g.png</key>
		<dict>
			<key>frame</key>
			<string>{{157, 879}, {80, 80}}</string>
			<key>offset</key>
			<string>{1, -3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9, 13}, {80, 80}}</string>
			<key>sourceSize</key>
			<string>{96, 100}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>textureFileName</key>
		<string>efx_item.png</string>
	</dict>
</dict>
</plist>
